*{
  font-family: "Poppins" sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-padding-top: 2rem;
  list-style: none;
  scroll-behavior: smooth;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--text-color);
  padding: 15px 10%;
  transition: 0.2s;
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 1px 20px;
  color: var(--second-color);
  font-weight: 600;
  text-transform: uppercase;
}
.navbar a:hover {
  color: var(--main-color);
}
#menu-icon {
  cursor: pointer;
  font-size: 24px;
  display: none;
  z-index: 1001;
}
  
  main {
    max-width: 800px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    margin-top: 10rem;
  }
  
  .payment-card {
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .payment-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  
  .payment-card img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 0.5rem;
  }
  
  .payment-card span {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    color: #333;
  }
  
  